<div class="portafolio">
    <h1 class="uno">¿Quienes somos?</h1> <br>
    <p class="dos">"Nosotros somos un grupo de alumnos del Tecnológico de Estudios Superiores de Chalco. Apasionados por los mangas, hemos creado una página dedicada a la recaudación y compartición de mangas. Nuestro objetivo es proporcionar a los amantes de este género
        una plataforma fácil y accesible para disfrutar de sus historias favoritas. ¡Bienvenidos a nuestra página de manga!"</p>
</div>

<div class="carta1">
    <div class="imagen">
        <img src="assets/img/gus.png" alt="">
    </div>
    <div class="gus">
        <h2 class="unog">full-stack Developer</h2>
        <span class="gus1">Gustavo Flores Cadena</span>
        <p class="dosg">"Bajo la dirección de Gustavo, nuestro talentoso full-stack developer, hemos creado una página dedicada a la recaudación y compartición de mangas. Utilizando la potencia de Angular, Gustavo desarrolló una plataforma robusta y dinámica que permite
            a los amantes del manga disfrutar de sus historias favoritas de manera sencilla y eficiente."</p>
    </div>
</div>

<div class="carta1">
    <div class="solis">
        <h2 class="unos">Project Manager</h2>
        <span class="solis1">Eduardo Alberto Solis Salazar</span>
        <p class="doss">"Eduardo, nuestro talentoso Project Manager, junto a el creas una página dedicada a la recaudación y compartición de mangas. Eduardo desplegó su expertise en la gestión del proyecto, coordinando eficientemente a todo el equipo. Su liderazgo y
            habilidades organizativas aseguraron el éxito de la página. "</p>
    </div>
    <div class="imagen2">
        <img src="assets/img/solis.png" alt="">
    </div>
</div>

<div class="carta1">
    <div class="imagen3">
        <img src="assets/img/josa.png" alt="">
    </div>
    <div class="josa">
        <h2 class="unoj">Web Designer and QA</h2>
        <span class="josa1">Irving Josafat Velazquez</span>
        <p class="dosj">"Josafat, nuestro talentoso web designer y QA, contribuyó de manera fundamental en nuestro proyecto. Como web designer, Josafat aplicó su creatividad y habilidades en diseño web para crear una interfaz atractiva y amigable. Además, como especialista
            en control de calidad (QA), se aseguró de que cada aspecto de la página estuviera optimizado y libre de errores.¡Agradecemos a Josafat por su invaluable contribución en el diseño y calidad de nuestra página web!"</p>
    </div>
</div>

<div class="carta1">
    <div class="ari">
        <h2 class="unoa">Web Designer and QA</h2>
        <span class="ari1">Anel Ariana Guzman</span>
        <p class="dosa">"Con la valiosa ayuda de Ariana, nuestra talentosa web designer y QA, logramos un proyecto exitoso. Ariana aportó su creatividad y habilidades en diseño web, creando una interfaz atractiva y amigable para nuestra página. Además, como especialista
            en control de calidad (QA), Ariana se aseguró de que cada detalle estuviera perfectamente optimizado y libre de errores. "</p>
    </div>
    <div class="imagen4">
        <img src="assets/img/ari.png" alt="">
    </div>
</div>

<div class="carta1">
    <div class="imagen3">
        <img src="assets/img/saul.png" alt="">
    </div>
    <div class="josa">
        <h2 class="unoj">Web Designer and QA</h2>
        <span class="josa1">Saul Axel Galicia Rodriguez</span>
        <p class="dosj">" Saúl se desempeñó de manera excepcional como web designer, QA y encargado de la documentación. Su talento en el diseño web fue evidente en la creación de una interfaz atractiva y funcional para nuestra página. Además, su dedicación en el control
            de calidad garantizó que cada aspecto estuviera meticulosamente optimizado. Además, su labor como encargado de la documentación fue fundamental para mantener un registro claro y organizado de nuestro proyecto."</p>
    </div>
</div>