<header class="header">
    <div class="logo">
        <a class="uno" href="">Anime<span class="dos">Toon</span></a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="/listas">Listas</a></li>
            <li><a href="/crear-producto">Crear una lista</a></li>
        </ul>
    </nav>
    <a class="btn" href="/aboutus"><button>Acerca de nosotros</button></a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</header>