<div class="principal">
    <div class="tb">
        <p>!Bienvenido a la
            <p>Biblioteca de mangas!</p><br><br><br>
            <div class="botones">
                <a id="uno" href="/listas">Ver mangas</a>
                <a id="dos" href="/crear-producto">Subir un manga</a>
            </div>
    </div>
    <div class="imagen">
        <img src="assets/img/reno.png" alt="araña">
    </div>
</div>

<div class="burbujas">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<footer>
    <p><b>&copy; 2023 GusDev. Todos los derechos reservados.</b> <span><a href="https://www.youtube.com/channel/UCShY6SyiPfakLEwreQ9Oaig"><i class="fa-brands fa-youtube"></i></a></span></p>
</footer>